/*!
 * Otras Clases
 * Footer
 * 
 */

.alert-footface {
  color: #737373;
  background-color: #DBDBDB;
  border-radius: 50px 10px;
  border-color: #B5B5B5;
}
.alert-footface hr {
  border-top-color: #C9C9C9;
}
.alert-footface .alert-link {
  color: #4E4E4E;
 }

 /*!
  * Menú principal
  */
 .alert-menuface {
  color: #737373;
  background-color: #FFFFFF;
  border-radius: 2px 20px 2px 20px;
  border-color: #ADADAD;
  border: 1px solid;
  height: 50px;
  box-shadow: 8px 8px 8px;
}
.alert-menuface hr {
  border-top-color: #C9C9C9;
}
.alert-menuface .alert-link {
  color: #4E4E4E;
 }